* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
}


/* Nav Bar */
.logo {
  margin: 1% 0 0 2%;
}

.plus-color {
  color: rgb(255, 255, 0);
}

.logo p {
  color: white;
  position: relative;
  top: -6px;
  font-size: 15px;
}

.LogoPic {
  border-radius: 15%;
}

.menu-bar {
  background-color: #31a3ea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.menubar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* .menu-bar {
    background-color: #31a3ea;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
  } */

.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */
  position: relative;
}

.menu-bar ul li a {
  font-size: 20px;
  color: #e9e9e9;
  text-decoration: none;
  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: #0073ff;
}

.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #141d28;
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: #141d28;
}

/* .startimg{ 
    height: 200px;
  } */
.startimg1 {
  height: 450px;
}

.big {
  width: 100%;
  background: url("images/istockphoto-869198994-612x612.jpg") center;
  background-size: cover;

}

/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
.container {
  text-align: center;
  margin-right: auto;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin-left: 0 auto;
  justify-content: center;
}

.training-item {
  flex-basis: 50%;
}

.training-item h1 {
  font-style: bold;
  font-family: sans-serif;
  font: weight 900px;
  color: rgb(49, 174, 174);
  padding: 0 0 1rem 0;
  font-size: 60px;
}

.training-item h2 {
  /* font-style: bold; */
  font-family: sans-serif;
  font: weight 900px;
  color: rgb(69, 34, 75);
  font-size: 30px;
}

.contain {
  width: 100%;
  padding: 30px 0;
  /* height: 650px; */
  background-color: aliceblue;
  /* border: 1px solid red; */
  /* margin-bottom: 500px; */

}


.clickablediv {
  display: block;
}
.shop p {
  color: #000000;
  font-size: 22px;
}

.contain h1 {
  display: grid;
  place-content: center;
  margin-bottom: 15px;
  /* padding: 15px 0px; */
  /* border: 1px solid red; */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 74px;
  line-height: 82px;
  color: #000000;
}

.contain1 {
  width: 100%;
  /* height: 800px; */
  background-color: rgb(255, 255, 255);

}

.contain1 h1 {
  display: grid;
  place-content: center;
  padding: 25px 0px;
  /* border: 1px solid red; */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 74px;
  line-height: 82px;
  color: #000000;
}

.shop {
  width: 100%;
  /* height: 501px; */
  /* border: 1px solid red; */
  display: flex;
  /* margin: 0 auto; */
  /* align-items: center; */
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

.card-container {
  flex-basis: 30%;
  /* border: 1px solid red; */
  height: 450px;
  font-size: large;
  transition: 0.5s;
  background-color: white;
  border-radius: 30px;
}

.card-container:hover {
  transform: scale(1.05);
  box-shadow: 2px 3px 4px 2px rgb(59, 56, 56, 0.2);
}

.shop1 {
  width: 100%;
  /* height: 500px; */
  /* border: 1px solid red; */
  /* padding: 0 100px 100px 100px; */
  display: flex;
  align-items: center;
  /* margin-left: 10%; */
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.card-container1 {
  flex-basis: 30%;
  /* border: 1px solid red; */
  box-shadow: 2px 2px 6px 1px #b4b3b3;
  height: 600px;
  border-radius: 20px;
  font-size: large;
  transition: 0.5s;
  background-color: white;
  margin: 10px;
}

.card-container1:hover {
  transform: scale(1.05);
  box-shadow: 2px 3px 4px 2px rgb(59, 56, 56, 0.2);
}

.card-container1 p {
  padding-top: 20%;
  font-size: 25px;
}

.img {
  height: 250px;
  margin-top: 100px;
  min-width: 372px;
  /* border: 1px solid red; */
  width: auto;
  
}

/* Css for FAQs */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

}

.wrapper {
  max-width: 75%;
  margin: auto;
  padding-bottom: 40px;

}

.wrapper>p,
.wrapper>h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.wrapper>h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;

}

.accordion i {
  font-size: 1.6rem;
}

.active,
.accordion:hover {
  background-color: #f1f7f5;
}

.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: white;
  overflow: hidden;
  background-color: #f1f7f5;
  display: none;

}

.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;

}

.faq.active {
  border: none;
}

/* The end FAQs */

/* Footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container2 {
  max-width: 1170px;
  margin-left: 18%;
  /* border: 1px solid red; */
  /* text-align: center; */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;

}

.footer {
  width: 100%;
  border: 0px solid;
  background-color: #31a3ea;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;

}

.footer-col h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;



}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #f3e9ee;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
  /* text-align: center; */

}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  color: white;
  display: block;
  transition: all 0.3s ease;


}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;

}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;

}

@media(max-width:767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width:574px) {
  .footer-col {
    width: 100%;

  }
}

@media (max-width:1233px) {
  .card-container1 {
    flex-basis: 56%;
    /* border: 1px solid red; */


  }
}

/* The end footer */

@media(max-width:998px) {
  .shop {
    width: 100%;
    flex: none;
    display: inline-block;
    /* border: 1px solid red; */
    margin-left: 0;

  }

  .card-container {
    flex-basis: 40%;
    /* border: 1px solid red; */
    height: 500px;

  }
}

@media (max-width: 990px) {
  .container {

  }
}

.LogoPic1 {
  width: 200px;
  height: 140px;
  border-radius: 20%;
}

#heading {
  color: rgb(140, 34, 140);
}

#heading1 {
  margin: 22px 0;
  color: rgb(0, 179, 255);
}

#heading2 {
  color: rgb(47, 74, 86);
}

#shopCategory {
  font-size: 40px;
}
